body {
  margin: 0;
  font-family: 'Courier New', monospace;
  background-color: #0a0f1c;
  color: #00ffcc;
}

.App {
  padding: 2rem;
  text-align: center;
}

h1, h2 {
  color: #00ffc3;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
}
